.wordsBox {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  max-width: 1000px;
}

.wordsBox.blurred {
  filter: blur(5px);
}

.word {
  margin: .37rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-untouched);
  border-bottom: 2px solid transparent;
}

.word.error {
  border-bottom: 2px solid var(--error-color);
}

.char {
  display: inline-block;
}

.char.correct {
  color: var(--text-correct);
}

.char.incorrect {
  color: var(--error-color);
}

.char.extra {
  color: var(--error-extra-color);
}

.wordsInput {
  opacity: 0;
  border:none;
  resize: none;
  position:fixed;
}

.typingContainer {

}

.typingContainer .time {
  display: flex;
  margin-left: .37rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  color: var(--main-color);
  line-height: 1.5rem;
}

.timePickBox {
  display: flex;
}

.timePick {
  cursor: pointer;
  margin: .5rem;
  color: var(--text-untouched);
  font-weight: semibold;
  font-size: 1.3rem;
}

.timePick:hover {
  color: white !important;
}

.timePick.active {
  color: var(--main-color);
}

.typingContainer .restart {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--text-untouched);
  cursor: pointer;
  margin: 6rem auto 0;
  width: fit-content;
}

.typingContainer .restart:hover {
  color: var(--text-correct);
}
