.wordsBox {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  overflow: hidden;
  height: 114px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.word {
  margin: .37rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-untouched);
  border-bottom: 2px solid transparent;
}

.word.error {
  border-bottom: 2px solid var(--error-color);
}

.char {
  display: inline-block;
}

.char.correct {
  color: var(--text-correct);
}

.char.incorrect {
  color: var(--error-color);
}

.char.extra {
  color: var(--error-extra-color);
}

.wordsInput {
  opacity: 0;
  border:none;
  resize: none;
  position:fixed;
}

.typingContainer {

}

.typingContainer .time {
  display: flex;
  margin-left: .37rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  color: var(--main-color);
  line-height: 1.5rem;
}

.timePick {
  text-decoration: underline;
  cursor: pointer;
}

.typingContainer .restart {
  font-weight: semibold;
  font-size: 1.2rem;
  color: var(--text-correct);
  cursor: pointer;
  margin: 3rem auto;
  width: fit-content;
}
