.wordsBox {
  display: flex;
  flex-wrap: wrap;
}

.word {
  margin: .37rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-untouched);
}

.word.error {
  border-bottom: 2px solid var(--error-color);
}

.char {
  display: inline-block;
}

.char.correct {
  color: var(--text-correct);
}

.char.incorrect {
  color: var(--error-color);
}


.wordsInput {
  opacity: 0;
  border:none;
  resize: none;
  position:fixed;
}

.typingContainer {

}

.typingContainer .time {
  margin-left: .37rem;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  color: var(--main-color);
  line-height: 1.5rem;
}

.typingContainer .restart {
  font-weight: semibold;
  font-size: 1.2rem;
  color: var(--text-correct);
  cursor: pointer;
  margin: 3rem auto;
  width: fit-content;
}
